@import '~antd/dist/antd.min.css';
@import 'src/assets/styles/mixin.scss';

.ws-selector {
  margin-right: 4px;
  line-height: 0;

  .ant-select {
    color: #EAEAEA;
    font-size: 12px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    min-width: 80px;
    height: 24px;
    line-height: 24px;
  }

  .ant-select-arrow {
    color: #EAEAEA;
  }

  .ant-select-single.ant-select-open .ant-select-selection-item {
    color: #EAEAEA;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
    display: none;
  }

  .ant-select-selection-overflow {
    flex-wrap: nowrap;
    justify-content: center;
    cursor: pointer;
  }

  .ant-select-dropdown {
    background-color: rgba(6, 23, 30, 0.5);
    padding: 6px;
    font-size: 12px;
    border-radius: 4px;
    min-width: 115px !important;
  }

  .ant-select-selection-placeholder {
    display: flex;
    justify-content: flex-end;
  }

  .ant-select-item {
    color: #EAEAEA;
    padding: 6px 6px 6px 26px;
    min-height: unset;
    line-height: 12px;
    margin: 4px 0;
    border-radius: 12px;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    position: relative;
    color: #EAEAEA;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: unset;

    &::before {
      position: absolute;
      display: table;
      border: 2px solid rgba(255, 255, 255, 0.9);
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1);
      content: " ";
      width: 6px;
      height: 11px;
      top: 4px;
      left: 10px;
    }
  }

  .ant-select-multiple .ant-select-selector {
    height: 24px;
    line-height: 24px;
    padding: 0;
    cursor: pointer !important;
  }

  .ant-select-multiple .ant-select-selection-item {
    background: transparent;
    border: 0;
    margin: 0;
    padding-left: 4px;
  }

  .ant-select-selection-search {
    display: none;
  }

  .ant-select-multiple .ant-select-selection-item-content {
    margin: 0;
  }

  .ant-select-multiple.ant-select-sm .ant-select-selection-item {
    height: 24px;
    line-height: 24px;
    cursor: pointer !important;
  }

  .ant-select-multiple .ant-select-selection-item-remove {
    display: none;
  }

  .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
    padding-right: 0;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    color: #EAEAEA;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent;
    border: 0;
    cursor: pointer !important;
    padding: 0 6px 0 24px;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    outline: 0;
    box-shadow: unset;
  }

  .ant-select-multiple .ant-select-selection-placeholder {
    right: 15px;
  }

  .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0 7px 0 30px;
  }

  .ant-select-arrow {
    left: 10px;
    right: unset;
  }

  .ant-select-item-option-content {
    font-size: 12px;
  }
}
