@import 'src/assets/styles/mixin.scss';

.ws-header {
  @include fr(space-between, center);
  @include wh(100%, 40px);
  background: rgba(7, 30, 39, 0.75);
  cursor: move;

  svg,
  use {
    cursor: pointer;
  }
}