@import 'src/assets/styles/mixin.scss';

.ws-header {
  @include fr(flex-start, center);
  @include wh(100%, 36px);
  background: rgba(7, 30, 39, 0.75);
  cursor: move;

  svg,
  use {
    cursor: pointer;
  }
}
