@import 'src/assets/styles/mixin.scss';

.ws-direction-controller {
  @include wh(164px, 100px);
  @include fr(space-between, center);
  padding: 3px;
  border: 1px solid rgba(22, 174, 224, 0.8);
  box-shadow: inset 0 0 6px 1px rgba(22, 174, 224, 0.5);
  border-radius: 6px;

  &-left {
    @include wh(92px, 92px);
    @include ps(relative);
    border-radius: 50%;
    border: 1px solid rgba(22, 174, 224, .2);
    margin-left: 4px;

    .ws-left-center {
      @include wh(38px, 38px);
      @include ps(absolute, 50%, 0, 0, 50%);
      @include fr(center, center);
      border: 2px solid rgba(22, 174, 224, .5);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .ws-ctr-pointer-top,
    .ws-ctr-pointer-bottom,
    .ws-ctr-pointer-left,
    .ws-ctr-pointer-right,
    .ws-ctr-pointer-top-left,
    .ws-ctr-pointer-top-right,
    .ws-ctr-pointer-bottom-left,
    .ws-ctr-pointer-bottom-right {
      @include wh(29px, 20px);
      clip-path: polygon(100% 0, 73% 100%, 27% 100%, 0 0);
      cursor: pointer;
      z-index: 1;
    }

    .ws-ctr-btn-top-left {
      @include ps(absolute, 6.7%, 0, 0, 2.5%);
      @include wh(0, 0);

      .ws-ctr-pointer-top-left {
        @include ps(absolute, 7px, 0, 0, 7px);
        transform: rotate(-45deg);
      }
    }

    .ws-ctr-btn-top {
      @include ps(absolute, -5.5%, 0, 0, 27.1%);
      @include wh(0, 0);

      .ws-ctr-pointer-top {
        @include ps(absolute, 10px, auto, auto, 6px);
      }
    }

    .ws-ctr-btn-top-right {
      @include ps(absolute, 2.5%, 0, 0, 53.5%);
      @include wh(0, 0);

      .ws-ctr-pointer-top-right {
        @include ps(absolute, 11px, auto, auto, 5px);
        transform: rotate(45deg);
      }
    }

    .ws-ctr-btn-right {
      @include ps(absolute, 27%, 0, 0, 66%);
      @include wh(0, 0);

      .ws-ctr-pointer-right {
        @include ps(absolute, 10.5px, -31px, auto, auto);
        transform: rotate(90deg);
      }
    }

    .ws-ctr-btn-bottom-right {
      @include ps(absolute, 53.3%, 0, 0, 57.8%);
      @include wh(0, 0);

      .ws-ctr-pointer-bottom-right {
        @include ps(absolute, 9px, auto, auto, 1px);
        transform: rotate(135deg);
      }
    }

    .ws-ctr-btn-bottom {
      @include ps(absolute, 65.5%, 0, 0, 33.3%);
      @include wh(0, 0);

      .ws-ctr-pointer-bottom {
        @include ps(absolute, 6px, auto, auto, .5px);
        transform: rotate(180deg);
      }
    }

    .ws-ctr-btn-bottom-left {
      @include ps(absolute, 57.4%, 0, 0, 6.6%);
      @include wh(0, 0);

      .ws-ctr-pointer-bottom-left {
        @include ps(absolute, 5px, auto, auto, 3px);
        transform: rotate(-135deg);
      }
    }

    .ws-ctr-btn-left {
      @include ps(absolute, 33%, 0, 0, -6%);
      @include wh(0, 0);

      .ws-ctr-pointer-left {
        @include ps(absolute, 5px, -34px, auto, auto);
        transform: rotate(-90deg);
      }
    }
  }

  &-right {
    @include wh(44px, 100%);
    @include ps(relative);
    margin-right: 4px;

    .ws-right-btn-up,
    .ws-right-btn-down {
      @include wh(44px, 15px);
      @include fr(center, center);
      background: rgba(22, 174, 224, .5);
      cursor: pointer;
    }

    .ws-right-btn-up {
      @include ps(absolute, 11px, auto, auto, auto);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .ws-right-btn-down {
      @include ps(absolute, auto, auto, 11px, auto);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    span {
      @include wh(25px, 20px);
      @include ps(absolute, 50%, 0, 0, 50%);
      @include style(14px, rgba(255, 255, 255, 1));
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
