@import 'src/assets/styles/mixin.scss';

.ws-direction-controller {
  @include wh(164px, 100px);
  @include fr(space-between, center);
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-image-source: url('../../../assets/images/4974.png');
  border-image-slice: 4 4 4 4 fill;

  &-left {
    @include wh(92px, 92px);
    @include ps(relative);
    border-radius: 50%;
    border: 1px solid rgba(22, 174, 224, .2);
    margin-left: 4px;

    .ws-left-center {
      @include wh(38px, 38px);
      @include ps(absolute, 50%, 0, 0, 50%);
      @include fr(center, center);
      border: 2px solid rgba(22, 174, 224, .5);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .ws-ctr-pointer-top,
    .ws-ctr-pointer-bottom,
    .ws-ctr-pointer-left,
    .ws-ctr-pointer-right,
    .ws-ctr-pointer-top-left,
    .ws-ctr-pointer-top-right,
    .ws-ctr-pointer-bottom-left,
    .ws-ctr-pointer-bottom-right {
      @include ps(absolute, 10px, auto, auto, 7px);
      @include wh(29px, 20px);
      clip-path: polygon(100% 0, 73% 100%, 27% 100%, 0 0);
      cursor: pointer;
      z-index: 1;
    }

    .ws-ctr-btn-top-left {
      @include ps(absolute, 6.5px, 0, 0, 2.5px);
      @include wh(0, 0);
    }

    .ws-ctr-btn-top {
      @include ps(absolute, -4.5px, 0, 0, 24.5px);
      @include wh(0, 0);
    }

    .ws-ctr-btn-top-right {
      @include ps(absolute, 2.5px, 0, 0, 48.5px);
      @include wh(0, 0)
    }

    .ws-ctr-btn-right {
      @include ps(absolute, 25px, 0, 0, 60px);
      @include wh(0, 0)
    }

    .ws-ctr-btn-bottom-right {
      @include ps(absolute, 48px, 0, 0, 52px);
      @include wh(0, 0)
    }

    .ws-ctr-btn-bottom {
      @include ps(absolute, 58.5px, 0, 0, 29.5px);
      @include wh(0, 0)
    }

    .ws-ctr-btn-bottom-left {
      @include ps(absolute, 52px, 0, 0, 6px);
      @include wh(0, 0)
    }

    .ws-ctr-btn-left {
      @include ps(absolute, 30.5px, 0, 0, -4.5px);
      @include wh(0, 0)
    }
  }

  &-right {
    @include wh(44px, 100%);
    @include ps(relative);
    margin-right: 4px;

    .ws-right-btn-up,
    .ws-right-btn-down {
      @include wh(44px, 15px);
      @include fr(center, center);
      background: rgba(22, 174, 224, .5);
      cursor: pointer;
    }

    .ws-right-btn-up {
      @include ps(absolute, 11px, auto, auto, auto);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .ws-right-btn-down {
      @include ps(absolute, auto, auto, 11px, auto);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    span {
      @include wh(25px, 20px);
      @include ps(absolute, 50%, 0, 0, 50%);
      @include style(14px, rgba(255, 255, 255, 1));
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
