@import 'src/assets/styles/mixin.scss';

.ws-video-control-panel {
  @include wh(100%, 100%);
  @include fd(flex-start);
  padding: 8px;
  border: 1px solid red;
  background: rgba(30, 96, 121, .3);
}