@import 'src/assets/styles/mixin.scss';

.ws-video-list-panel {
  @include ps(relative);
  @include wh(100%, 100%);
  @include fd(flex-start, flex-start);
  padding: 8px;
  background: rgba(30, 96, 121, .35);

  &-loading {
    @include ps(absolute, 50%, 0, 0, 50%);
    transform: translate(-50%, -50%);
  }

  &-empty {
    @include ps(absolute, 50%, auto, auto, 50%);
    @include style(12px, #fff);
    transform: translate(-50%, -50%);
    margin: 0;
  }

  &-item-wrapper {
    @include wh(100%, 20px);
    @include fd(flex-start, flex-start);
    margin: 0 4px;

    .ws-video-list-panel-item-time {
      @include style(12px, rgba(22, 174, 224, 1));
      line-height: 12px;
      margin-bottom: 8px;
    }
  }

  &-list {
    &::-webkit-scrollbar {
      display: none;
    }

    @include wh(100%, auto);
    overflow: scroll;

    .ws-video-list-panel-list-item,
    .ws-video-list-panel-list-item-active {
      @include wh(100%, 24px);
      @include fr(space-between, center);
      line-height: 12px;
      padding: 4px 8px;
      margin: 4px 0;
      cursor: pointer;
    }

    .ws-video-list-panel-list-item {
      @include style(12px, rgba(181, 216, 238, 1));
      background: rgba(30, 96, 121, .3);

      &:hover {
        @include style(12px, rgba(22, 174, 224, 1));
        background: rgba(30, 96, 121, .6);
      }
    }

    .ws-video-list-panel-list-item-active {
      @include style(12px, rgba(22, 174, 224, 1));
      background: rgba(30, 96, 121, .6);
    }
  }
}
