@import 'src/assets/styles/mixin.scss';

.eb-video-player-container {
  @include ps(absolute);
  color: #fff;
  background: rgba(7, 30, 39, 0.75);
  border: 2px solid rgba(30, 96, 121, 1);
  z-index: 1;
}