@import 'src/assets/styles/mixin.scss';

.ws-video-player-container {
  @include ps(absolute);
  @include fd(flex-start);
  border: 2px solid rgba(30, 96, 121, 1);
  user-select: none;
  margin: 0;
  z-index: 1;

  .ws-player-wrapper {
    @include ps(relative);
    @include fr(flex-start, flex-start);
    flex-wrap: nowrap;
    width: 100%;
    flex: 1;
  }

  .ws-pip-container {
    @include wh(35%, 35%);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #16aee0;
    z-index: 99;
  }

  .ws-screenshot-container {
    @include ps(absolute, 40px, 0, auto, auto);
    width: 182px;
    background: #fff;
    padding: 2px;
    overflow: hidden;
    z-index: 1;

    .ws-screenshot-close {
      @include ps(absolute, -12px, -12px, auto, auto);
      @include wh(0, 0);
      z-index: 1;
      border: 13px solid transparent;
      border-left-color: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-radius: 100%;

      svg {
        @include ps(absolute, -6px, 1px, auto, auto);
        transform: rotate(45deg);
        cursor: pointer;
      }

      svg:hover {
        animation: none;
      }
    }

    .ws-screenshot {
      height: 100px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      canvas {
        @include ps(absolute, 50%, auto, auto, 50%);
        @include wh(100%, 100%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

