.eb-player {
  width: 100%;
  height: 100%;
  overflow: hidden;

  & > video {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(84, 84, 84, 0.8);
  }
}