@import 'src/assets/styles/mixin.scss';

.ws-player-controller {
  @include wh(100%, 100%);
  @include ps(absolute, auto, auto, 0, 50%);
  transform: translateX(-50%);
  z-index: 1;

  &-play-or-pause-wrapper {
    @include wh(100%, calc(100% - 40px));
    @include ps(absolute, 0, auto, auto, 0);
    outline: none;
    z-index: 2;
  }

  &-pause-btn {
    @include ps(absolute, 50%, auto, auto, 50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
  }

  &-controller-and-progress-wrapper {
    @include ps(absolute, auto, auto, 0, 50%);
    width: 100%;
    transform: translateX(-50%);
    z-index: 3;
  }
}