@import 'src/assets/styles/mixin.scss';

.ws-player {
  @include ps(relative);
  @include fr(center);
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;

  & > video {
    @include ps(absolute, 0, auto, auto, 0);
    @include wh(100%, 100%);
    pointer-events: none;
    object-fit: fill;
    background-color: rgba(84, 84, 84, 0.8);
  }

  &-loading {
    @include fd(center);
    @include style(12px, rgba(239, 242, 246, 1));
    z-index: 1;

    p {
      padding-top: 6px;
    }

    svg {
      animation: loading 1.5s linear infinite;
    }
  }

  .ws-screenshot-container {
    @include ps(absolute, 0, 0, auto, auto);
    width: 182px;
    background: #fff;
    padding: 6px 2px 2px 2px;
    cursor: move;
    overflow: hidden;
    z-index: 1;

    .ws-screenshot-close {
      @include ps(absolute, -14px, -18px, auto, auto);
      @include wh(0, 0);
      z-index: 1;
      border: 20px solid transparent;
      border-left-color: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-radius: 100%;

      svg {
        @include ps(absolute, -8px, 1px, auto, auto);
        transform: rotate(45deg);
        cursor: pointer;
      }

      svg:hover {
        animation: none;
      }
    }

    .ws-screenshot {
      height: 100px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      canvas {
        @include ps(absolute, 50%, auto, auto, 50%);
        @include wh(100%, 100%);
        transform: translate(-50%, -50%);
      }
    }
  }

  .ws-recording-container {
    @include ps(absolute, 0, auto, auto, 0);
    @include fr(flex-start);
    @include style(9px, rgba(239, 242, 246, 1));
    line-height: 9px;
    padding: 8px 0 0 8px;

    .ws-recording-point {
      @include wh(9px, 9px);
      margin-right: 8px;
      border-radius: 50%;
      background: rgba(255, 0, 0, 1);
    }
  }
}
