@import 'src/assets/styles/mixin.scss';

.ws-player {
  @include ps(relative);
  @include wh(100%, 100%);
  @include fr(center);
  overflow: hidden;

  & > video {
    @include ps(absolute, 0, auto, auto, 0);
    @include wh(100%, 100%);
    pointer-events: none;
    background: rgba(84, 84, 84, 0.8);
    object-fit: cover;
  }

  &-loading {
    @include fd(center);
    @include style(12px, rgba(239, 242, 246, 1));
    z-index: 1;

    svg {
      animation: loading 1s linear infinite;
    }
  }
}