@import 'src/assets/styles/mixin.scss';

.ws-progress-bar {
  @include ps(relative);
  transition: all 0.5s;
  width: 100%;

  &-mask {
    @include wh(100%, calc(100% + 6px));
    @include ps(absolute, -3px, auto, auto, 0);
    z-index: 3;

    &:hover {
      cursor: pointer;
    }
  }

  &-wrapper {
    @include wh(100%, 4px);
    @include ps(relative);
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.2);
    position: relative;

    .ws-progress-bar-buffered {
      @include wh(0%, 100%);
      @include ps(absolute, 0, auto, auto, 0);
      background: rgba(255, 255, 255, 0.5);
      z-index: 1;
    }

    .ws-progress-bar-played {
      @include wh(0%, 100%);
      @include ps(absolute, 0, auto, auto, 0);
      z-index: 2;

      .control-point {
        transition: all 0.3s;
        @include wh(9px, 9px);
        @include ps(absolute, -50%, -5px, auto, auto);
        border-radius: 50%;
      }
    }
  }


}