@import 'src/assets/styles/mixin.scss';

.ws-reload-control {
  padding-left: 8px;
  line-height: 1;

  svg,
  use {
    cursor: pointer;
  }

  &:hover {
    .ws-reload-control-icon {
      animation: rotateAnimate .7s ease;
    }
  }
}