@import 'src/assets/styles/mixin.scss';

.ws-setting-control {
  margin-right: 8px;
  line-height: 1;

  svg,
  use {
    cursor: pointer;
  }

  svg:hover {
    animation: scaleAnimate .5s ease;
  }

  &-wrapper {
    @include ps(absolute, auto, -22px, 36px, auto);
    @include wh(68px, 56px);
    @include fd(flex-start);
    background: rgba(6, 23, 30, .7);
    border-radius: 3px 3px 3px 3px;
    transform: translateX(-50%);
    transition: all 0.5s;
    animation: show 0.3s ease;

    .ws-setting-control-item {
      @include fr(center);
      @include wh(100%, 50%);
      @include style(12px, rgba(255, 255, 255, 1));
      line-height: 12px;
      cursor: pointer;
      border-radius: 3px 3px 3px 3px;

      svg {
        margin-right: 5px;
      }

      svg:hover {
        animation: none;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}