[class^=ws-] {
  font-family: 'Alibaba-PuHuiTi-Regular', serif;
  box-sizing: border-box;

  p {
    margin: 0;
  }

  &::after,
  &::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

@font-face {
  font-family: Alibaba-PuHuiTi-Regular;
  src: url('assets/font/Alibaba-PuHuiTi-Regular.ttf') format('truetype');
}